@import "tailwindcss";

/* src/app/globals.css */

:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  /* Paleta Base */
  --navy: #0f2c59;
  --cream: #faf9f6;
  --cream-gradient: #efefec;
  --cream2: #f1efe9;
  --electric-blue: #3a7bff;
  --silver: #c0c0c0;
  --esmerald: #50c878;

  /* Textos */
  --text-primary: #0F2C59;
  --text-secondary: #5A6D8A;
  --text-body: #4A5568;
  --text-muted: #718096;

  --color-primary: var(--navy);
  --color-secondary: var(--electric-blue);
  --color-background: var(--cream);
  --color-background-card: var(--cream2);
  --color-background-gradient: var(--cream-gradient);
  --color-muted: var(--silver);
  --color-success: var(--esmerald);
}

/* ---------- Clases reutilizables ---------- */

/* Botones */
.Button-bg {
  background: var(--color-primary);
}
.Button-bg:hover {
  background: var(--color-secondary);
}

/* Navbar */
.Navbar-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Navbar-text {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.Navbar-text:hover {
  color: var(--color-secondary);
}

/* HeroBanner */
.hero-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.hero-title {
  color: var(--color-bo);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-subtitle {
  color: var(--color-bone-white);
}

@media (max-width: 768px) {
  .hero-bg {
    padding-top: 4rem;
    /* Espacio para navbar */
  }
}

/* BenefitGrid */
.BenefitGrid-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* TrendingProducts */
.TrendingProducts-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* DailyOffers */
.DailyOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* BestSellersWeek */
.BestSellersWeek-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.card-bg {
   background: linear-gradient(0deg,
      var(--color-background-card) 0%,
      var(--color-background-gradient) 100%);
}

/* FollowUs */
.FollowUs-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* CustomersReview */
.CustomerReview-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* ProductPage */
.PageProducts-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Product-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Product-subtitle {
  color: var(--color-black);
}

/* DailyOffersPage */

.DailyOffers-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DailyOffers-subtitle {
  color: var(--color-black);
}

.DailyOffers-Countdown {
  background: var(--color-primary);
  color: var(--color-white);
}
.PageDailyOffers-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}
.FlashOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.FeatureOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.BannerSubscribe-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* Help&ContactPage */
.HelpContact-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.HelpContact-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.HelpContact-subtitle {
  color: var(--color-black);
}

.Contact-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* CartPage */
.Cart-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Cart-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Cart-subtitle {
  color: var(--color-black);
}

.CartProducts-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}