@import "tailwindcss";

/* src/app/globals.css */

:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  /* Paleta Base */

  /* Azul */
  --navy-blue: #0F2C59;
  --electric-blue: #4A6BFF;
  --light-blue: #A7C6FF;

  /* Morado */
  --purple: #3A237A;
  --electric-purple: #7B4AFF;
  --light-purple: #9D7BFF;

  /* Neutros */
  --black: #000000;
  --white: #FFFFFF ;
  --white2: #efefec;
  --gray: #F5F5F5;
  --gray2: #333333;

  /* Textos */
  --text-primary: #0F2C59;
  --text-secondary: #5A6D8A;
  --text-body: #4A5568;
  --text-muted: #718096;

  --color-primary: var(--navy-blue);
  --color-primary-hover: var(--electric-blue);
  --color-primary-accent: var(--light-blue);
  --color-secondary: var(--purple);
  --color-secondary-hover: var(--electric-purple);
  --color-secondary-accent: var(--light-purple);
  --color-background: var(--white);
  --color-background-gradient: var(--white2);
  --color-background-card: var(--gray);
  --color-text-primary: var(--black);
  --color-text-primary2: var(--white);
  --color-text-secondary: var(--gray2);
  --color-text-secondary2: var(--white2);
}

/* ---------- Clases reutilizables ---------- */

/* Botones */
.Button-bg {
  background: var(--color-primary);
}
.Button-bg:hover {
  background: var(--color-primary-hover);
}

/* Titulos-Textos */

.TitleColor {
  color: var(--color-text-primary);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TitleColor2 {
  color: var(--color-text-primary2);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SubtitleColor {
  color: var(--color-text-secondary);
}

.SubtitleColor2 {
  color: var(--color-text-secondary2);
}

.TextColor {
  color: var(--color-text-primary);
}

/* Navbar */
.Navbar-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%, 
      var(--color-background-gradient) 100%);
}

.Navbar-text {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.Navbar-text:hover {
  color: var(--color-primary-hover);
}

/* HeroBanner */
.hero-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

@media (max-width: 768px) {
  .hero-bg {
    padding-top: 4rem;
    /* Espacio para navbar */
  }
}

/* BenefitGrid */
.BenefitGrid-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* TrendingProducts */
.TrendingProducts-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* DailyOffers */
.DailyOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.DailyOffers-bg2 {
  background: var(--color-primary)
}

/* BestSellersWeek */
.BestSellersWeek-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.card-bg {
   background: linear-gradient(0deg,
      var(--color-background-card) 0%,
      var(--color-background-gradient) 100%);
}

/* FollowUs */
.FollowUs-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* CustomersReview */
.CustomerReview-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* Footer */
.Footer-bg {
  background: var(--color-primary)
}

/* ProductPage */
.PageProducts-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Product-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Product-subtitle {
  color: var(--color-black);
}

/* DailyOffersPage */

.DailyOffers-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DailyOffers-subtitle {
  color: var(--color-black);
}

.DailyOffers-Countdown {
  background: var(--color-primary);
  color: var(--color-white);
}
.PageDailyOffers-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}
.FlashOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.FeatureOffers-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.BannerSubscribe-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* Help&ContactPage */
.HelpContact-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.HelpContact-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.HelpContact-subtitle {
  color: var(--color-black);
}

.Contact-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

/* CartPage */
.Cart-bg {
  background: linear-gradient(0deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Cart-title {
  color: var(--color-black);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Cart-subtitle {
  color: var(--color-black);
}

.CartProducts-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}