@import "tailwindcss";

/* src/app/globals.css */

:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  /* Paleta Base */
  --navy: #0f2c59;
  --cream: #faf9f6;
  --cream-gradient: #efefec;
  --electric-blue: #3a7bff;
  --silver: #c0c0c0;
  --esmerald: #50c878;

  /* Textos */
  --text-primary: #0F2C59;
  --text-secondary: #5A6D8A;
  --text-body: #4A5568;
  --text-muted: #718096;

  --color-primary: var(--navy);
  --color-secondary: var(--electric-blue);
  --color-background: var(--cream);
  --color-background-gradient: var(--cream-gradient);
  --color-muted: var(--silver);
  --color-success: var(--esmerald);
}

/* ---------- Clases reutilizables ---------- */

/* Navbar */
.Navbar-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.Navbar-text {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.Navbar-text:hover {
  color: var(--color-secondary);
}

/* HeroBanner */
.hero-bg {
  background: linear-gradient(180deg,
      var(--color-background) 0%,
      var(--color-background-gradient) 100%);
}

.hero-title {
  color: var(--color-bo);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-subtitle {
  color: var(--color-bone-white);
}

@media (max-width: 768px) {
  .hero-bg {
    padding-top: 4rem;
    /* Espacio para navbar */
  }
}