@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
