services:
  - type: web
    name: backend
    runtime: node
    plan: free
    buildCommand: pnpm install --frozen-lockfile && pnpm --filter backend prisma generate && pnpm --filter backend build
    startCommand: pnpm --filter backend start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: EMAIL_USER
        sync: false
